
@{
    ViewBag.Title = "Empty Cart";
}

<h2>Your cart is currently empty</h2>
<p>
    Have a look around @Html.ActionLink("here", "Index", "Home"), and maybe you will find something interseting to add to your shopping cart!
    <br />You will then get access to this and other pages. 
</p>

