@{
    ViewBag.Title = "About";
}
<h2 style="color:white;">DIN VESKE</h2>
<br />
<div style="color:white;">
    <p>DIN VESKE– tusenvis av veske, én kasse!</p>

    <p>
        Det skal være lett å finne veske du liker!
        Din veske er en webshop der du kan handle veske fra Gucci, LV, Michael Kors etc. – i en og samme kasse.
        Vi har samlet tusenvis av vesker under samme tak.
        Din veske tilbyr et bredt utvalg med alt fra praktiske hverdagsveske til fine festveske,
        og et sortiment som passer for hele familien.
    </p>
    <br />
    <h3>AbdulasGroup</h3>

    <p>
        AbdulasGroup ble etablert i 2014, da selskapets grunnlegger Muhammed Abdula startet et lite enmannsfirma i storbyen Oslo i Norge.
        I mai tok han sin første innkjøpsreise til Italia.
        I dag, 10 måneder senere, er AbdulasGroup Skandinavias ledende veskekonsern med butikkonseptene Gucci,
        LV, Michael Kors etc. AbdulasGroup har til nå omsatt for drøye 14 millioner kroner under et år.
        Gjennom en uslåelig kombinasjon av varemerker i stadig utvikling fortsetter vi å ekspandere, under mottoet ”we put feet first”.
    </p>

    <p>
        Konsernets hovedkontor, med felles administrasjon for de ulike konseptene, ligger i Oslo.
        Dessuten finnes det kontorer for innkjøpsvirksomhet og produktutvikling i Kina og Vietnam.
    </p>

    <p>
        AbdulasGroup har i dag totalt ca. 14 medarbeidere og vårt mål er at vi skal oppleves som en attraktiv arbeidsgiver,
        der våre medarbeidere kan trives, utvikles og føle stolthet. Vår felles oppgave er å gjøre det enkelt, inspirerende og gøy å handle veske på vår nettside!
    </p>

    <p>Bedriftskulturen vår bygger på fire kjerneverdier:</p>

    <ul>
        <li>
            KUNDEN – vi ser virksomheten vår fra kundens perspektiv, uansett hva vi arbeider
            med skal våre handlemåter styres av kundens behov.
        </li>
        <li>
            ENKELHET – vi går den rakeste veien mellom to punkter. Vi bruker få mellomledd og ser alltid
            utfordringen ved å lage produkter med god kvalitet til lave kostnader uten å gjøre ting vanskelig.
        </li>
        <li>NYTENKENDE – vi utfordrer alltid. Vi er nysgjerrige og modige, og våger å prøve nye ting.</li>
        <li>
            TILLIT – alle mennesker vokser og har det best når de får plass til å ta eget ansvar.
            Vi stoler på mennesker og det er grunnlaget for den gode følelsen som vi ønsker skal prege alt vi gjør, AbdulasGroup-ånden.
        </li>
    </ul>

    <p>
        Vi i AbdulasGroup tar fullt ansvar for produktene våre. Det skal være sikkert for kundene å bruke produktene.
        Når det gjelder kvalitet, så arbeider vi i AbdulasGroup med både fysisk kvalitet, hvor godt veskene holder,
        samt med kjemisk kvalitet, hvilke stoffer som forekommer i skoene våre.
    </p>

    <p>
        AbdulasGroups miljøarbeid tar utgangspunkt i miljøpolicyen vår som i forlengelsen skal gjennomsyre arbeidet vårt i hvert ledd.
        "Vi vil arbeide aktivt for å finne metoder for å minimere miljøpåvirkningen og stadig bli bedre på å ta mer miljøvennlige valg.”
    </p>
    <br />
    <h3>Våre Forretningsområder</h3>

    <p>
        AbdulasGroup Skandinavias ledende veskekonsern med butikkonseptene Gucci, LV, Michael Kors etc. AbdulasGroup
        har til nå omsatt for drøye 14 millioner kroner under et år. Gjennom en uslåelig kombinasjon av varemerker
        i stadig utvikling fortsetter vi å ekspandere, under mottoet ”we put feet first”.
    </p>
    <br />
    <h3>Spørsmål & svar</h3>

    <p>
        <b>Hvordan kan jeg betale?</b><br />
        Du kan betale med kontokort (Visa og MasterCard).
    </p>

    <p>
        <b>Hvor lang tid tar det før jeg får varene mine?</b><br />
        Normal leveringstid er 2-4 dager. Vi reserverer oss for forsinkelser, som ligger utenfor vår kontroll.
    </p>
    <p>
        <b>Hvordan kontakter jeg Kundeservice?</b><br />
        Du kan kontakte oss via e-post: kundeservice@abdulasgroup.com eller på telefon +47 22 22 55 55. Kundeservice har åpent hverdager 08:00–17:00.
    </p>
    <p>
        <b>Hvordan sendes varene mine?</b><br />
        Varene dine sendes med MyPak og pakken kan hentes på nærmeste utleveringssted.
    </p>
    <p>
        <b>Kan jeg bestille til et annet land?</b><br />
        Akkurat nå leverer vi kun i Norge, Sverige og Finland.
    </p>
    <p>
        <b>Kan jeg prøve veskene hjemme? Hvor lang deponering; åpent kjøp har jeg?</b><br />
        Du har alltid 14 dagers åpent kjøp, slik at du kan prøve skoene hjemme i fred og ro.
    </p>
    <p>
        <b>Hva koster frakten?</b><br />
        Frakten koster 49 kr uansett hvor mye du bestiller. I varekurven presenteres alltid totalsummen inkl. frakt. Ingen andre kostnader tilkommer.
    </p>
</div>