@{
    ViewBag.Title = "Contact";
}
<h2 style="color:white;">Kontakt Oss</h2>
<br />
<h3 style="color:white;">Pressekontakter</h3>
<div style="color:white;">
    <p>
        Om du vill komme i kontakt med oss er du velkommen til å henvende deg til:<br />
        Information- & PR-ansvarig AbdulasGroup<br />
        Yusuf Abdul<br />
        +47 22 22 55 55<br />
        yusuf.abdul@abdulasgroup.com
    </p>
    <br />
    <h3>Ledige stillinger</h3>
    <p>
        Kanskje er nettopp du interessert i å jobbe hos oss?<br />
        Selskapet vårt vokser stadig og vi trenger hele tiden nye medarbeidere som kan tenke seg å jobbe i en bedrift med høyt tempo og raske forandringer.
        Personlige egenskaper, vilje og innstilling er viktigere enn din teoretiske bakgrunn.
        I vår bedriftskultur er enkelhet og effektivitet viktige hjørnesteiner. En uformell ånd med korte beslutningsveier skaper forutsetninger for nytenkning og personlig ansvarstaking.
        Det er gode muligheter til å vokse i konsernet og det finnes mange gode eksempler på dette i foretaket. Vår målsetting er at vi skal rekruttere 70 % av alle ledere internt.
    </p>

    <br />
    <h3>Kontakte kundeservice</h3>

    <p>
        Dersom du har spørsmål angående webshopen vår eller produktene våre, er du velkommen til å kontakte kundeservice. Angi gjerne ordre-/kundenummer dersom henvendelsen gjelder en bestilling.
        <address>
            <strong>Support:</strong>   <a href="mailto:kundeservice@abdulasgroup.com">kundeservice@abdulasgroup.com</a><br />
        </address>
        Tlf.: +47 22 22 55 55<br /><br />
        Vi hjelper deg gjerne med å sluttføre bestillingen din via telefon, men vi kan dessverre ikke ta imot bestillinger via telefon.<br /><br />
        <b>Åpningstider</b><br />
        Åpent hverdager 08.00–17.00.<br />
        Vi svarer på e-post i løpet av 24 timer (gjelder hverdager).
    </p>
</div>

